main{
    display: flex ;


}
article {
    flex: 1;
    margin: 40px;

     text-align: center;
    }

    h2{
        text-align: center; 
    
    }
     h1{
        text-align: center;
     background-color: darkseagreen;
    }
