main{
    display: flex ;

}
article {
    flex: 1;
    margin: 40px;
    border-style:double;
     text-align: center;
padding:5px;
    }

    h2{
        text-align: center; 
     
    }
     h1{
        text-align: center;
        flex: 5;

     
    }
 body{
    background-color: lightgoldenrodyellow;
    
 }

 footer {
    margin-top: 40vh;
 }
 header{
display:flex;
flex-flow: row wrap;

 }

 header img{
    display:block;
    height: 90px;
 }